<div class="container">
  {% macro displayallposts(posts) %}
  <div class="row">
    <div class="col-md-12">
      {% if posts %}
      {% for post in posts %}
      <!-- Card -->
      <div class="card">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title" style="font-size: medium;">{{post.post_title}}</h4>
          <!-- Text -->
          <p class="card-text" style="font-size: small;">{{post.post}}</p>
          <a href="/comment/{{post.id}}" class="btn" style="font-size: 10px;">Comment</a>

        </div>

      </div><br>
      {% else %}
      <em>Not posts on this blog</em>
      {%endfor%}
      {% endif %}
    </div>
  </div>
{% endmacro %}
{% macro displayallcomments(post_comment) %}
<div class="row">
  <div class="col-md-12">
    {% for comment in post_comment %}
    <div class="card">

      <!-- Card content -->
      <div class="card-body">

          <!-- Text -->
        <p class="card-text" style="font-size: small;">{{comment.comment}}</p>
      </div>

    </div><br>
    {% endfor %}
  </div>
</div>
{% endmacro %}

</div>