<div class="container">
  {% macro displayallposts(posts) %}
  <div class="row">
    <div class="col-md-12">
      {% for post in posts %}
      <!-- Card -->
      <div class="card">

        <!-- Card content -->
        <div class="card-body">

          <!-- Title -->
          <h4 class="card-title">{{post.post_title}}</h4>
          <!-- Text -->
          <p class="card-text">{{post.post}}</p>

        </div>

      </div><br>
      {% else %}
      <em>Not posts on this blog</em>
      {%endfor%}
    </div>
  </div>
{% endmacro %}
</div>